.white{
  color: white;
}

.navbar{
  background: rgba(10,12,35,0.7)!important;
  backdrop-filter: blur(14px);
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.navbar-brand{
  color: var(--neon-purple)!important;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-link{
  color: var(--text-muted)!important;
  transition: 0.3s;
}

.nav-link:hover{
  color: var(--neon-blue)!important;
}

.neon-card{
  background: var(--card-dark);
  border-radius: var(--radius);
  padding: 24px;
  box-shadow: 0 0 20px rgba(139,92,246,0.2);
  transition:0.3s;
}

.neon-card:hover{
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 0 40px rgba(56,189,248,0.4);
}

.neon-form{
  background: rgba(14,19,43,0.85);
  backdrop-filter: blur(18px);
  border-radius: 20px;
  padding: 32px;
  box-shadow:
    0 0 25px rgba(139,92,246,0.4),
    0 0 50px rgba(56,189,248,0.2);
}


.form-control{
  background:#020617;
  border:1px solid #3b3f8f;
  color:white;
}

.form-control::placeholder{
  color:#9ca3af;
}

.form-control:focus{
  border-color:#38bdf8;
  box-shadow:0 0 12px #38bdf8;
}


.neon-footer{
  background:#020617;
  color:#94a3b8;
  padding:20px;
  text-align:center;
}

.btn {
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-3px) scale(1.03);
}

.page-animate {
  animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
  from { opacity:0; transform: translateY(20px); }
  to { opacity:1; transform: translateY(0); }
}

.glow-text{
  color:#e5e7eb;
  text-shadow:0 0 6px #8b5cf6,0 0 12px #38bdf8,0 0 20px rgba(139,92,246,0.7);
}

.register-bg{
  min-height:100vh;
  background:
    linear-gradient(rgba(7,10,26,0.55), rgba(7,10,26,0.55)),
    url("./assets/register_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display:flex;
  justify-content:center;
  align-items:center;
}
